# SPDX-FileCopyrightText: 2025 aesc silicon
#
# SPDX-License-Identifier: CERN-OHL-S-2.0

language: generic

os: linux
dist: jammy

# Only run on pull requests to main branch
branches:
  only:
    - main

# Set timeout to 60 minutes
timeout: 3600

install:
  # Install dependencies
  - sudo snap install task --classic
  - sudo apt-get update
  - sudo apt-get install -y virtualenv

script:
  # Prepare the project
  - task install branch=${TRAVIS_PULL_REQUEST_BRANCH:-main}

  # Prepare files
  - IS_HEADLESS=true task prepare

  # Generate layout
  - IS_HEADLESS=true task layout

  # Add metal fill
  - IS_HEADLESS=true task filler

  # Run maximal DRC
  - IS_HEADLESS=true task run-drc > drc.log
  - grep -v '0 error(s)' drc.log
  - grep 'KLayout DRC Check Passed' drc.log

notifications:
  email: false
